.DS_Store
*/*/Go.hx
*/*/*/Go.hx
*/*/*/*/Go.hx
*/*/*/*/*/Go.hx
*/*/*/*/*/*/Go.hx
*/*/*.pprof
*/*/*/*.pprof
*/*/*/*/*.pprof
*/*/*/*/*/*.pprof
*/*/*/*/*/*/*.pprof
gobyexample/*/*.js
gobyexample/*/*.n
gobyexample/*/java/*
gobyexample/*/cs/*
gobyexample/*/cpp/*
gobyexample/*/php/*
gobyexample/*/*.swf
gobyexample/*/tardis/Go.hx
openfl/*/Export/*
openfl/*/Source/tardis/Go.hx
tests/*/*.js
tests/*/*.n
tests/*/java/*
tests/*/cs/*
tests/*/cpp/*
tests/*/php/*
tests/*/*.swf
tests/*/tardis/Go.hx
benchmarks/*/*.js
benchmarks/*/*.n
benchmarks/*/java/*
benchmarks/*/cs/*
benchmarks/*/cpp/*
benchmarks/*/php/*
benchmarks/*/*.swf
benchmarks/*/tardis/Go.hx
wip/*/*.js
wip/*/*.n
wip/*/java/*
wip/*/cs/*
wip/*/cpp/*
wip/*/php/*
wip/*/*.swf
wip/*/tardis/Go.hx
gohaxelib/*/*.js
gohaxelib/*/*.n
gohaxelib/*/java/*
gohaxelib/*/cs/*
gohaxelib/*/cpp/*
gohaxelib/*/php/*
gohaxelib/*/*.swf
gohaxelib/*/tardis/Go.hx