.DS_Store
*/tardis/*
*/*/tardis/*
*/*/*/tardis/*
*/*/*/*/tardis/*
*/*/*/*/*/tardis/*
*/*/*.pprof
*/*/*/*.pprof
*/*/*/*/*.pprof
*/*/*/*/*/*.pprof
*/*/*/*/*/*/*.pprof
gobyexample/*/tardis/*.js
gobyexample/*/tardis/*.js.map
gobyexample/*/tardis/*.n
gobyexample/*/tardis/java/*
gobyexample/*/tardis/cs/*
gobyexample/*/tardis/cpp/*
gobyexample/*/tardis/php/*
gobyexample/*/tardis/*.swf
gobyexample/*/*.js
gobyexample/*/*.js.map
gobyexample/*/*.n
gobyexample/*/java/*
gobyexample/*/cs/*
gobyexample/*/cpp/*
gobyexample/*/php/*
gobyexample/*/*.swf
gobyexample/*/tardis/*.hx
openfl/*/Export/*
openfl/*/Source/tardis/*.hx
tests/*/tardis/*
tests/*/*.js
tests/*/*.js.map
tests/*/*.n
tests/*/java/*
tests/*/cs/*
tests/*/cpp/*
tests/*/php/*
tests/*/*.swf
tests/*/tardis/*.hx
benchmarks/*/tardis/*
benchmarks/*/*.js
benchmarks/*/*.js.map
benchmarks/*/*.n
benchmarks/*/java/*
benchmarks/*/cs/*
benchmarks/*/cpp/*
benchmarks/*/php/*
benchmarks/*/*.swf
benchmarks/*/tardis/*.hx
wip/*/*.js
wip/*/*.js.map
wip/*/*.n
wip/*/java/*
wip/*/cs/*
wip/*/cpp/*
wip/*/php/*
wip/*/*.swf
wip/*/tardis/*
wip/gobyexample/*/*.js
wip/gobyexample/*/*.js.map
wip/gobyexample/*/*.n
wip/gobyexample/*/java/*
wip/gobyexample/*/cs/*
wip/gobyexample/*/cpp/*
wip/gobyexample/*/php/*
wip/gobyexample/*/*.swf
wip/gobyexample/*/tardis/*
wip/haxe-call-examples/*/*.js
wip/haxe-call-examples/*/*.js.map
wip/haxe-call-examples/*/*.n
wip/haxe-call-examples/*/java/*
wip/haxe-call-examples/*/cs/*
wip/haxe-call-examples/*/cpp/*
wip/haxe-call-examples/*/php/*
wip/haxe-call-examples/*/*.swf
wip/haxe-call-examples/*/tardis/*
haxe-call-examples/*/*.js
haxe-call-examples/*/*.js.map
haxe-call-examples/*/*.n
haxe-call-examples/*/java/*
haxe-call-examples/*/cs/*
haxe-call-examples/*/cpp/*
haxe-call-examples/*/php/*
haxe-call-examples/*/*.swf
haxe-call-examples/*/tardis/*
go-as-haxe-lib-examples/*/*.js
